h1 {
    color: #1B9CFC;
}

.flex {
    display: flex;
    align-items: center;
}

.cards-section {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.cards {
    width: 430px;
    font-size: 20px;
    /* background-color: red; */
    margin: 5px;
    /* border: 1px solid black; */
    transition: transform 0.1s ease-in-out;
    

}.cards:hover {
    transform: translate(0px, 20px); /* Adjust values for desired X and Y movement */
}

.cards h1 {
    font-size: 20px;

}

.cards img {
    width: 100%;
}

button {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: #3498db;
}

button:hover {
    color: black;

}